.App { 
  max-width: 1200px;
  background-color: #ffffff;
  margin : 0 auto;
  font-family: 'Poppins', sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@media(min-width: 800px){
  .app{
    width: 90%;
  }
}


